#home-list-invoice {
    background: #fff;
}

#home-list-invoice .card-header,
#total_hosting_service_nearly .card-header,
#home-service .card-header,
#total_hosting_service_nearly .card-header,
#home-tutorials .card-header,
#home-notication .card-header,
#total_hosting_service_nearly .card-header,
#home-colocations .card-header,
#home-colocations .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.button-action-vps {
    padding: 5px 7px;
}

#btn_addon_ip_colo {
    padding: 5px 9px;
    font-size: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#btn_addon_ram,
#btn_addon_ip {
    padding: .05rem .2rem;
    font-size: .7rem;
}

.amount {
    float: right;
    padding-right: 35px;
}

.sort_next_due_date_on,
.sort_next_due_date,
.sort_next_due_date_on,
.sort_next_due_date_expire,
.sort_next_due_date_all,
.sort_server {
    cursor: pointer;
}

.product-detail {
    background-color: '#fff';
}

.item-hover:hover {
    background: #f6fcff !important;
}

.product-server-info {
    margin: 0 0 20px 0;
    font-size: 0.85em;
    border: 1px solid #efefef;
}

.product-item {
    user-select: none;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 130px;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

.item-text {
    color: #333;
    font-weight: 500;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.item-label {
    padding: 12.8px 5px;
    text-align: right;
    background: #f9f9f9;
    border-right: 1px solid #ededed;
    font-size: 13px;
}

.item-title {
    padding: 12.8px 24px;
}

.item-amount {
    color: #a6a6a6;
    font-weight: 600;
}

.product-server-title {
    padding: 6px 15px;
    margin: 0;
    border-bottom: 1px solid #288feb;
    font-size: 22px;
    color: #288feb;
    padding-bottom: 3px;
    background: ghostwhite;
}

.item-icon {
    font-weight: 600;
    position: absolute;
    right: 15px;
    top: -3px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #0d84b3;
    font-size: 17px;
}

.select-item.active .item-select {
    opacity: 1;
    display: block;
}

.item-select {
    z-index: 99999;
    position: absolute;
    top: 100%;
    left: -36px;
    right: -36px;
    opacity: 0;
    display: none;
    transition: opacity 1s linear;
    overflow: hidden;
}

.list-select {
    position: relative;
    max-height: 180px;
    box-shadow: 0 0 35px #e0e0e0;
    margin: 0 35px 35px;
    background: #fff;
    border: 1px solid #ededed;
    overflow-y: auto;
}

.list-select-item {
    display: grid;
    grid-template-columns: 1fr 120px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
}

.list-select-item-amount {
    color: #a6a6a6;
    padding: 12px 0;
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
}

.addon-ram-hidden,
.addon-ip-hidden {
    display: none;
}

.item-select .list-select-item:hover {
    background: #e8f8ff !important;
}

.list-select-item.selected .list-select-item-text {
    border-left-color: #0095cd;
}

.list-select-item-text {
    border-left: 3px solid transparent;
    padding: 12px 24px;
}

.select-item.active,
.select-item:hover {
    background: #f4fbfe !important;
}

.select-item {
    cursor: pointer;
}

.divstate_btn_tool {
    position: absolute;
    right: 7px;
}

.info-expire {
    padding: 10px 6px;
    font-size: 15px;
}

.bg-olive {
    background-color: #3D9970 !important;
}

.auto_refurn_tooltip {
    position: absolute;
    width: 190px;
    background: #3edbff;
    color: white;
    z-index: 9999;
    border-radius: 20%;
    text-align: center;
    padding: 20px 18px;
    font-size: 14px;
    line-height: 20px;
    pointer-events: none;
    transform: scale3d(0.1, 0.2, 1);
    transform-origin: 50% 0;
    transition: opacity 0.4s, transform 0.4s;
    transition-timing-function: ease, ease;
    transition-timing-function: ease, ease, ease;
    transition-timing-function: ease, ease, ease;
    transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
    left: 50%;
    top: 22px;
    margin-left: -87px;
    opacity: 0;
}

.infoAuto i {
    position: relative;
}

.infoAuto i:hover .auto_refurn_tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.bg-reset {
    background-color: #282bd9;
    color: white;
}

.bg-reset:hover {
    color: white !important;
}

.btn[class*="bg-"]:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

#home-list-invoice a {
    color: #0056b3;
}

.text_list_vps tbody {
    font-size: 13px;
}

#total_vps_service_nearly .card-body {
    background: white;
}

.add_customer {
    font-size: 13px;
}

#add_customer .modal-dialog {
    max-width: 1000px !important;
}

.card-lycal.card-outline {
    border-top: 3px solid #00ffe7;
}

#data-vps-table_wrapper {
    width: 100%;
}

.card-orange.card-outline {
    border-top: 3px solid #04fd42;
}

.card-darkcyan.card-outline {
    border-top: 3px solid #ff00cb;
}

a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
    font-size: 1em;
}

body {
    font-size: 1rem;
    font-weight: 400;
}

.label {
    font-size: 16px;
    color: black;
}

.input-group span {
    padding: 0.65rem .75rem;
}

#total_hosting_service_nearly .card-warning {
    background: #fff;
}

#home-service .card-primary {
    background: #fff;
}

#home-notication .card-info,
#total_hosting_service_nearly .card-info {
    background: #fff;
}

.card-success {
    background-color: #fff;
}

.card-primary {
    background-color: #fff;
}

.card-info {
    background-color: #fff;
}

.card-info.card-outline {
    border-top: 3px solid #17a2b8;
}

.card-primary.card-outline {
    border-top: 3px solid #007bff;
}

.card-info.card-outline {
    border-top: 3px solid #17a2b8;
}

b,
strong {
    font-weight: bolder !important;
}

.card-warning.card-outline {
    border-top: 3px solid #ffc107;
}

.breadcrumb-item.active {
    font-size: 13px;
    color: #6c757d;
    margin-top: 2px;
}

.page-header.card {
    margin: 30px 35px 0;
}

.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a !important;
}

.border-left-danger {
    border-left: .25rem solid #e74a3b !important;
}

.border-left-warning {
    border-left: .25rem solid #f6c23e !important;
}

.text-gray-300 {
    color: #dddfeb;
}

.text-gray-800 {
    color: #5a5c69;
}

.card {
    margin-bottom: 1rem;
}

.card-danger {
    background: none;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f8f9fc;
    border-top: 1px solid #e3e6f0;
}

.one_time {
    line-height: 60px;
    font-weight: 700;
    font-size: 1.5rem;
}

table#table-show-price th,
table#table-show-price td {
    padding: 5px;
}

a.check-invoices {
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.page-header.card .breadcrumb {
    padding: 0;
}

.payin-note {
    font-size: 16px;
    -webkit-animation: note 1000ms infinite;
    -moz-animation: note 1000ms infinite;
    -o-animation: note 1000ms infinite;
    animation: note 1000ms infinite;
}

.btnOutlinePrimary {
    background: transparent;
    color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    border-radius: 0 .25rem .25em 0 !important;
}

.btnOutlinePrimary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    color: #fff !important;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu[subitem-icon=style1] .pcoded-submenu li>a .pcoded-mtext:before {
    content: "\e84a";
}

.icon-lv3-menu::before {
    content: "\e844" !important;
}

.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item li .pcoded-submenu {
    border-color: unset !important;
}

.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item>li.active>a,
.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item>li.active:hover>a,
.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item>li.pcoded-trigger>a,
.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item>li.pcoded-trigger:hover>a {
    background: #1263a5 !important;
}

.pcoded-hasmenu.active ul.show {
    background: #285477 !important;
}

.pcoded[theme-layout=vertical] .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a {
    padding: 10px 10px 10px 35px;
}

.pcoded[theme-layout=vertical] .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu .pcoded-hasmenu .pcoded-submenu li>a {
    padding-left: 50px;
}

.pcoded[theme-layout=vertical] .pcoded-navbar[navbar-theme=theme1] .pcoded-item li .pcoded-submenu {
    background-color: inherit;
}

.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item>li.pcoded-trigger>a,
.pcoded[theme-layout=vertical] .pcoded-navbar[active-item-theme=theme1] .pcoded-item>li.pcoded-trigger:hover>a {
    border-color: transparent;
}

@keyframes note {
    0% {
        color: red;
    }
    25% {
        color: #fb2222;
    }
    50% {
        color: #fb5d5d;
    }
    65% {
        color: #f97d7d;
    }
    90% {
        color: #f7c9c9;
    }
    100% {
        color: #fff;
    }
}

@media screen and (max-width: 991px) {
    .page-header.card .breadcrumb {
        float: none;
        margin: 20px 0;
        background: #d2e5f4;
        padding: 5px 15px;
        color: white !important;
        height: auto !important;
    }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 575px) {
    ul.nav-left {
        width: 100%;
        border-bottom: dashed 1px #b2b2b2;
    }
    ul.nav-left li {
        line-height: 3em !important;
    }
}

@media screen and (max-width: 480px) {
    .page-header.card {
        margin: 30px 20px 0;
    }
    ul.breadcrumb.breadcrumb-title {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .show-point {
        display: none;
    }
}

$base-height: 377px;
$base-dimension: 16px;
$base-border-radius: 12px;
$base-button-size: 52px;
$primary-color: #0360a5;
$accent-color: #f6f7f9;
$background-color: #fff;
$font-color: #888;
@mixin chabox-container {
    display: flex;
    position: fixed;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    flex-direction: column;
}

@mixin chatbox-header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: $base-dimension;
    color: $background-color;
    background-color: $primary-color;
    align-items: center;
    justify-content: space-around;
}

@mixin chatbox-main {
    box-sizing: border-box;
    width: 100%;
    padding: calc(2 * #{$base-dimension}) #{$base-dimension};
    line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
    color: $font-color;
    text-align: center;
}

@mixin chatbox-footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: $base-dimension;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
}

@mixin chatbox-floating-button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: $base-button-size;
    height: $base-button-size;
    color: $background-color;
    background-color: $primary-color;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

button {
    color: inherit;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
    &.chatbox-open {
        @include chatbox-floating-button;
        margin: $base-dimension;
    }
    &.chatbox-close {
        @include chatbox-floating-button;
        display: none;
        margin: $base-dimension calc(2 * #{$base-dimension} + #{$base-button-size}) $base-dimension $base-dimension;
    }
}

.chatbox-popup {
    @include chabox-container;
    display: none;
    bottom: calc(2 * #{$base-dimension} + #{$base-button-size});
    right: $base-dimension;
    width: $base-height;
    height: 350px;
    background-color: $background-color;
    border-radius: $base-dimension;
    .chatbox-popup__header {
        @include chatbox-header;
        border-top-right-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;
        .chatbox-popup__avatar {
            margin-top: -32px;
            background-color: $primary-color;
            border: 5px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
        }
    }
    .chatbox-popup__main {
        @include chatbox-main;
        height: 67%;
    }
    .chatbox-popup__footer {
        @include chatbox-footer;
        border-bottom-right-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
    }
}

.chatbox-panel {
    @include chabox-container;
    display: none;
    top: 12%;
    right: 0;
    bottom: 0;
    width: $base-height;
    background-color: $background-color;
    .chatbox-panel__header {
        @include chatbox-header;
        flex: 0 0 auto;
    }
    .chatbox-panel__main {
        @include chatbox-main;
        flex: 1 1 auto;
    }
    .chatbox-panel__footer {
        @include chatbox-footer;
        flex: 0 0 auto;
    }
}

.chatbox-textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: calc(#{$base-dimension} + #{$base-dimension} / 2);
    padding: 0 calc(#{$base-dimension} / 2);
    font-family: inherit;
    font-size: $base-dimension;
    line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
    color: $font-color;
    background-color: none;
    border: 0;
    outline: 0 !important;
    resize: none;
    overflow: hidden;
    &::placeholder {
        color: $font-color;
    }
}

.chatbox-title {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: #ececec;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.text-left .msg-bubble {
    border-bottom-left-radius: 0;
}

.chatbox-main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chatbox-main::-webkit-scrollbar {
    width: 6px;
}

.chatbox-main::-webkit-scrollbar-track {
    background: #ddd;
}

.chatbox-main::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: #579ffb;
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.navbar-custom-link a {
    padding: 0 !important;
    margin: 0 5px;
}

.icon-custom-link i {
    font-size: 13px;
}

.btn-sm.btn-console {
    padding: 5px 7px;
    font-size: 10px;
    margin-bottom: 4px;
}

.navbar-custom-link {
    display: inline-block;
    align-items: center;
    width: 100px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    border: solid #ced4da 1px;
    border-radius: 4px;
    color: #257ec5;
    border-top: 2px solid #3c8dbc;
    -webkit-box-shadow: 0 0 8px 0 rgb(43 43 43 / 7%), 0 8px 8px -5px rgb(43 43 43 / 5%);
    box-shadow: 0 0 8px 0 rgb(43 43 43 / 7%), 0 8px 8px -5px rgb(43 43 43 / 5%);
}

.custom-link {
    padding: 2px;
    color: #03467b !important;
    font-size: 12px;
    font-weight: bold;
}

.custom-link a {
    color: #03467b !important;
    margin: auto;
}

.vps-on-processing {
    width: 110px !important;
}

.create_vps {
    position: relative;
}

.create_vps .create-vps-menu {
    position: absolute;
    background: #fff;
    width: 12em;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    background-clip: padding-box;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    left: 0;
    z-index: 1000;
    -webkit-transform: scale3d(.1, .2, 1);
    transform: scale3d(.1, .2, 1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, transform .4s;
    transition: opacity .4s, transform .4s, -webkit-transform .4s;
    transition-timing-function: ease, ease, ease;
    -webkit-transition-timing-function: ease, cubic-bezier(.6, 0, .4, 1);
    transition-timing-function: ease, cubic-bezier(.6, 0, .4, 1);
    margin-top: 3px;
    opacity: 0;
}

.create_vps:hover .create-vps-menu {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.create_vps .create-vps-menu-item {
    display: block;
    padding: 5px 12px !important;
    margin: 0;
}

.create-vps-menu-item:hover {
    background: #f0f0f0;
}

.table-sm td,
.table-sm th {
    padding: .3rem;
}

.table-sm thead th {
    padding: 0.8em 0.3em;
}

.table-sm thead {
    font-size: 14px;
}

@media screen and (min-width: 1490px) {
    .profile-name {
        display: inline !important;
    }
}

@media screen and (max-width: 1180px) {
    .navbar-custom-link {
        font-size: 12px;
        width: 75px;
    }
    .vps-on-processing {
        width: 74px !important;
    }
}

@media screen and (max-width: 768px) {
    .notification-desktop {
        display: none !important;
    }
}

@media screen and (min-width: 767px) {
    .notification-mobile {
        display: none !important;
    }
}