@charset "UTF-8";

.test {
  color: red;
}

.select2-selection__choice {
  color: black !important;
}

.label-right {
  margin-right: 45px;
}

.cd-dropdown > span {
  box-shadow: none !important;
  color: black !important;
  font-size: 1.4rem !important;
  font-weight: 600;
}

.tbl-list td,
.tbl-list th {
  vertical-align: middle;
}

.filter_status,
.filter_status_us {
  cursor: pointer;
}

.content-mail {
  font-size: 16px;
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 400;
}

#notication_vld {
  color: red;
  padding: 8px;
  margin-bottom: 5px;
}

.table-quotation th,
.table-quotation td {
  vertical-align: middle !important;
}

.btnOutlinePrimary {
  background: transparent;
  color: #007bff;
  border-color: #007bff;
  font-weight: 400;
  border-radius: 0 0.25rem 0.25em 0 !important;
  cursor: pointer;
}

.btnOutlinePrimary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.action {
  background: snow;
}

.sort_next_due_date,
.sort_next_due_date_nearly {
  cursor: pointer;
}

.grecaptcha-badge {
  opacity: 0;
  display: none !important;
}

.box.box-solid.box-success > .box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.choose-product {
  padding: 25px 20px;
  border: 3px solid #00f3ff63;
}

.company {
  margin: 0 !important;
  font-size: 13px;
  line-height: 21px;
}

.form-pading {
  padding: 2rem 3rem 5rem !important;
}

.quotation-info-title {
  font-size: 23px;
  font-weight: bold;
  color: red;
}

.quotation-header {
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  opacity: 0.7;
}

.quotation-header-hr-top {
  height: 1px;
  background: #ae4a00;
  width: 80%;
  position: absolute;
  bottom: -5px;
  transform: translateY(16px);
}

.quotation-info-user {
  margin-left: 10%;
  margin-right: 10%;
}

.quotation-info-detail {
  margin-left: 7%;
  font-size: 15px;
}

.quotation-info-user-info {
  margin-left: 8%;
  font-size: 15px;
}

.bg-table-cyal {
  background: #BDD6EE;
}

.quotation-info-user {
  font-size: 15px;
}

.table-quotation .vertical-align {
  text-align: center;
  vertical-align: middle !important;
}

.table-quotation .description {
  vertical-align: middle !important;
}

.quotation-config {
  font-size: 15px;
}

.quotation-body {
  font-family: Roboto;
}

.quotation-header-hr-bottom {
  height: 3px;
  background: #ae4a00;
  width: 80%;
  position: absolute;
  bottom: -10px;
  opacity: 0.7;
  transform: translateY(16px);
}

.btn-purple {
  color: #fff !important;
  background-color: #6d28a7 !important;
  border-color: #8b00ff !important;
  box-shadow: none !important;
}

.btn-purple:hover {
  color: #fff !important;
  background-color: #8500f2 !important;
  border-color: #8500f2 !important;
}

#table_order_wrapper,
#payment_credit_wrapper,
#table_vps_wrapper {
  width: 100%;
}

.cd-active.cd-dropdown ul li {
  width: 100% !important;
}

.button-header {
  z-index: 100;
  width: 100%;
  opacity: 0;
}

#mainCanvas {
  position: unset !important;
  width: 100% !important;
  height: 100% !important;
}

#wmksContainer {
  position: relative !important;
}

.cd-dropdown ul li {
  width: 100% !important;
}

.show_password,
.hidden_password {
  cursor: pointer;
}

.select2-selection__choice {
  background-color: #007bff !important;
  border-color: #006fe6 !important;
  color: #fff !important;
  padding: 0 10px !important;
  margin-top: 0.31rem !important;
}

.cd-active.cd-dropdown ul li span {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 0;
  background: #e8e8e8;
}

.payment_classic,
.payment_create_classic,
.payment_addon_classic,
.payment_upgrade_classic,
.payment_all_classic {
  /* styling */
  background-color: white;
  border: thin solid #353535;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.payment_classic,
.payment_create_classic,
.payment_addon_classic,
.payment_upgrade_classic,
.payment_all_classic {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(0.8em + 2px), calc(100% - 15px) calc(0.8em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.payment_classic:focus,
.payment_create_classic:focus,
.payment_addon_classic:focus,
.payment_upgrade_classic:focus,
.payment_all_classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

.payment_change_id_classic,
.payment_expired_classic,
.payment_domain_classic,
.payment_domain_expired_classic {
  /* styling */
  background-color: white;
  border: thin solid #353535;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.payment_change_id_classic,
.payment_expired_classic,
.payment_domain_classic,
.payment_domain_expired_classic {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(0.8em + 2px), calc(100% - 15px) calc(0.8em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.payment_change_id_classic:focus,
.payment_expired_classic:focus,
.payment_domain_classic:focus,
.payment_domain_expired_classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

#user_payment span,
#status_payment span,
#type_payment span {
  cursor: pointer;
}

#user_payment_create span,
#status_payment_create span,
#type_payment_create span {
  cursor: pointer;
}

#user_payment_addon span,
#status_payment_addon span,
#type_payment_addon span {
  cursor: pointer;
}

#user_payment_upgrade span,
#status_payment_upgrade span,
#type_payment_upgrade span {
  cursor: pointer;
}

#user_payment_change_id span,
#status_payment_change_id span,
#type_payment_change_id span {
  cursor: pointer;
}

#user_payment_expired span,
#type_payment_expired span,
#status_payment_expired span {
  cursor: pointer;
}

#user_payment_domain span,
#type_payment_domain span,
#status_payment_domain span {
  cursor: pointer;
}

#user_payment_domain_expired span,
#type_payment_domain_expired span,
#status_payment_domain_expired span {
  cursor: pointer;
}

#user_payment_all span,
#type_payment_all span,
#status_payment_all span,
#method_payment_all span {
  cursor: pointer;
}

#detail_invoice .modal-dialog {
  max-width: 70%;
}

#type_invoice .float-right {
  cursor: pointer;
  font-size: 14px;
  padding-top: 2px;
}

#user_invoice .float-right {
  cursor: pointer;
  font-size: 14px;
  padding-top: 2px;
}

#status_invoice .float-right {
  cursor: pointer;
  font-size: 14px;
  padding-top: 2px;
}

#select_product_form .select2-selection__rendered {
  padding-top: 5px;
}

#upgrate .ms-container {
  width: 100%;
}

#upgrate .ms-list {
  height: 400px;
}

#upgrate .ms-list li {
  padding: 10px 10px;
  font-size: 16px;
}

.card-drop {
  width: 100%;
  position: relative;
  margin: 0 auto;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  z-index: 100;
}

.card-drop > a.toggle {
  position: relative;
  z-index: 300;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transition: 0.1s linear;
  background-color: #fff;
}

.list-search-user {
  position: relative;
  /*! background: white; */
  /*! border: 1px solid #acacac; */
}

.list-search-user ul {
  list-style: none;
  position: absolute;
  z-index: 9999;
  background: white;
  border: 1px solid #acacac;
  padding: 0;
  width: 100%;
  height: 280px;
  overflow: scroll;
}

.list-search-user ul li {
  padding: 10px 10px 5px 10px;
  cursor: pointer;
}

.list-search-user ul li:hover {
  background: #5897fb;
  color: white;
}

.card-drop a {
  display: block;
  width: 100%;
  padding: 20px 0 20px 20px;
  height: 40px;
  text-decoration: none;
  color: black;
  background-color: #e8e8e8;
  background-color: #fff;
  transition: all 0.3s ease-out;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 8px 5px;
  overflow: hidden;
}

.card-drop .toggle {
  color: black;
}

.card-drop .toggle::before {
  content: "\25BC";
  position: absolute;
  right: 0;
  top: 10px;
  width: 10px;
  text-align: center;
  font-size: 12px;
  height: 70%;
  color: #626262;
  transform: translateY(1px);
}

.card-drop ul li.active a {
  background: #e66b20;
  color: #fff;
  cursor: default;
}

.card-drop ul li a {
  background: #e8e8e8;
  border-bottom: 1px solid white;
}

.card-drop ul li a:hover {
  background: #e66b20;
  color: #fff;
}

.active-icon .toggle::before {
  content: "\25B2";
}

.card-drop ul li a:hover .text-muted {
  color: #e4e4e4 !important;
}

.card-drop ul li.active a .text-muted {
  color: #e4e4e4 !important;
}

.card-drop ul li {
  margin: 0 !important;
  margin-left: auto;
  transition: all, 0.3s ease-out;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  list-style: none;
}

#select_product_form .select2-selection {
  height: 40px;
}

#select_product_form #select2-select_product-container {
  padding-top: 7px;
}

#select_product_form .select2-selection__arrow b {
  margin-top: 4px;
}

#event_pagination .pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

#event_pagination .pagination li {
  display: inline;
  text-align: center;
}

#event_pagination .pagination li:first-child a {
  border-radius: 6px 0 0 6px;
}

#event_pagination .pagination .disabled,
#event_pagination .pagination .disabled:disabled,
#event_pagination .pagination a.active {
  opacity: 0.65;
  pointer-events: none;
}

#event_pagination .pagination a.active,
.pagination a:active {
  border-color: #4285F4;
  background: #4285F4;
  color: #fff;
}

#event_pagination .pagination a.active {
  cursor: default;
}

#event_pagination .pagination > li > a {
  background: #fafafa;
  color: #666;
}

#event_pagination .pagination a:hover {
  background: #eee;
  background-color: #eeeeee;
}

#event_pagination .pagination > li > a,
#event_pagination .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.cd-dropdown {
  width: 95% !important;
  margin: auto !important;
  padding-bottom: 5px !important;
}

.pricing-product {
  width: 100% !important;
}

.cd-dropdown > span::after {
  content: "\25BC";
  position: absolute;
  right: 12% !important;
  top: 12%;
  width: 50px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: none !important;
  color: #626262 !important;
}

#update_sevice_hosting .order {
  background-color: #fff;
  margin: 0 0 5px 0;
  margin-bottom: 5px;
  padding: 15px 10px 5px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  min-height: 500px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 3px solid #e2e7e9;
  border-collapse: separate;
  border-spacing: 2px;
  border-radius: 4px;
  box-shadow: 5px 6px 6px #efefef;
}

.nav.nav-treeview.nav-3 {
  padding-left: 10px;
  background: #f0f0f0;
}

.vong-xoay {
  color: #eb2f06;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.nav-sidebar .menu-child {
  padding-left: 8px;
  background: #ececec;
}

.ticket-message {
  padding: 15px 12px;
  margin-bottom: 20px;
}

.ticket-message .text-light {
  margin-bottom: 0;
}

.table-condensed {
  width: 100%;
}

.datepicker-dropdown {
  width: 350px;
}

.mauden {
  color: black;
}

#form_select .select2-selection.select2-selection--single {
  height: 38px;
}

#form_select .select2-selection__rendered {
  padding-top: 5px !important;
}

#form_select .select2-selection__arrow {
  margin-top: 6px;
}

td.description {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.email-group .card-header {
  background: #f2f2f2;
}

.vong-xoay div {
  transform-origin: 32px 32px;
  -webkit-animation: vong-xoay 1.2s linear infinite;
  animation: vong-xoay 1.2s linear infinite;
}

.link-right nav {
  float: right;
}

.table-button a {
  font-size: 10px;
}

.button-action-services a {
  font-size: 10px;
}

.vong-xoay div::after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 30px;
  width: 4px;
  height: 12px;
  border-radius: 20%;
  background: #eb2f06;
}

.vong-xoay div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.vong-xoay div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.vong-xoay div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.vong-xoay div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.vong-xoay div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.vong-xoay div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.vong-xoay div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.vong-xoay div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.vong-xoay div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.vong-xoay div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.vong-xoay div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.vong-xoay div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes vong-xoay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes vong-xoay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.qttVpsPros {
  font-weight: 700;
  -webkit-animation: not-blink 1000ms infinite;
  animation: not-blink 1000ms infinite;
}

@-webkit-keyframes progressing {
  0% {
    color: #4e73df;
  }

  25% {
    color: #3D2DFD;
  }

  50% {
    color: #7A70FB;
  }

  75% {
    color: #C7C3FF;
  }

  100% {
    color: #fff;
  }
}

@keyframes progressing {
  0% {
    color: #4e73df;
  }

  25% {
    color: #3D2DFD;
  }

  50% {
    color: #7A70FB;
  }

  75% {
    color: #C7C3FF;
  }

  100% {
    color: #fff;
  }
}

.vps-progressing {
  font-weight: bold;
  -webkit-animation: progressing 1000ms infinite;
  animation: progressing 1000ms infinite;
}

.server-progressing {
  font-weight: bold;
  -webkit-animation: progressing 1000ms infinite;
  animation: progressing 1000ms infinite;
}

.box.box-primary {
  border-top-color: #3c8dbc;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  border-top-color: #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}

.hidden {
  display: none !important;
}

#notication {
  padding-top: 6px;
  padding-bottom: 10px;
  color: red;
  font-size: 17px;
  font-weight: 400;
}

.editGroup {
  margin-right: 11px;
}

.primary {
  background: #007bff;
}

.primary th {
  color: white;
}

.table-group-product {
  background: #f2f2f2;
}

td button {
  font-size: 10px !important;
}

.label {
  margin-top: 7px;
  cursor: pointer;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

span.pull-right-container {
  position: absolute;
  right: 10px;
  top: 36%;
  margin-top: -8px;
}

.label2 {
  cursor: pointer;
}

.detail-course-finish {
  margin-top: 10px;
}

.detail-course-finish .bg-success p,
.detail-course-finish .bg-danger p {
  padding: 10px 25px 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  transform: translateY(-5px);
}

.order {
  background-color: #fff;
  margin: 0 0 5px 0;
  padding: 15px 10px 5px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  min-height: 450px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 3px solid #e2e7e9;
  border-collapse: separate;
  border-spacing: 2px;
  border-radius: 4px;
  box-shadow: 5px 6px 6px #efefef;
}

.create_order {
  background-color: #fff;
  margin: 0 0 5px 0;
  padding: 15px 10px 5px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  min-height: 300px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 3px solid #e2e7e9;
  border-collapse: separate;
  border-spacing: 2px;
  border-radius: 4px;
  box-shadow: 5px 6px 6px #efefef;
}

.ordersummarytitle {
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
}

#ordersummary {
  margin: 20px 0 10px 0;
  padding: 0;
  border: 1px solid #b4b4b4;
  border-radius: 6px;
  -o-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.sub_total {
  background-color: #ffffdf;
  font-size: 16px;
  padding: 4px 10px;
}

.sub_total_pricing {
  text-align: right;
}

.total {
  background-color: #e7ffda;
  font-size: 26px;
  padding: 6px 10px;
  border-radius: 0 0 5px 5px;
}

.total_pricing {
  text-align: right;
}

.item {
  padding: 15px 10px 10px 10px;
  border-bottom: 1px dashed #b4b4b4;
  font-size: 18px;
}

.text-none {
  padding: 15px 10px 10px 10px;
  border-bottom: 1px dashed #b4b4b4;
  font-size: 18px;
  text-align: center;
}

.order-product-service {
  margin-top: 15px;
  font-size: 20px;
  padding-left: 10px;
}

.domain input {
  margin-bottom: 5px;
}

.button-action a {
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#group_button {
  padding: 0 0 20px;
}

.group-invoice {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.detail_order .paid {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.detail_order {
  padding-top: 20px;
  padding-bottom: 60px;
}

.detail_order .date_pain {
  margin-bottom: 15px;
}

.remove-invoices {
  background: #F00;
  color: #FFF;
}

#content .breadcrumb {
  background: 0 0;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item.active {
  color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

a:hover {
  color: #224abe;
  text-decoration: none;
}

#selectGender .select2-selection.select2-selection--single {
  padding: 1.5rem 1rem !important;
  border-radius: 10rem;
  border: 1px solid #d1d3e2;
}

#selectGender .select2-container--default .select2-selection--single .select2-selection__rendered {
  transform: translateY(-13px);
  color: #8a8da4;
}

#selectGender .select2-container--default .select2-selection--single .select2-selection__arrow {
  transform: translateY(10px) translateX(-10px);
}

#selectGender .select2-container--default .select2-selection--single {
  padding: 1.5rem 1rem !important;
  border-radius: 10rem;
}

#selectGender .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 9px 5px 0 5px;
}

.maudo {
  color: red;
}

#selectGender.is-invalid .select2-selection.select2-selection--single {
  border-color: #e74a3b !important;
}

.content-row {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 6%;
  margin-bottom: 35px;
  min-height: 600px;
}

div.header-lined h1 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  color: #058;
  font-size: 25px;
}

.card-title.pricing-card-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 11px;
  padding-left: 20px;
}

.config {
  color: #484848;
  font-size: 18px;
  font-weight: 600;
}

.border-header-info {
  border-top: 0.25rem solid #4099ff !important;
}

.product-info {
  margin: 0 0 20px 0;
  padding: 6px 15px;
  font-size: 0.85em;
  background-color: #f8f8f8;
  border: 1px solid #efefef;
}

.product-info .product-title {
  margin: 0;
  font-size: 1.6em;
  border-bottom: 1px solid #288feb;
  font-size: 22px;
  color: #288feb;
  padding-bottom: 3px;
}

.product-info p {
  line-height: 20px;
  padding-top: 10px;
  font-size: 14px;
}

.quantity-printf {
  text-align: right;
  padding-right: 17px;
}

.so-luong {
  background-color: #fcffaf;
  font-size: 16px;
  padding: 4px 10px;
}

#select-billing .select2-container--default .select2-selection--single {
  padding-top: 9px;
  height: 35px;
}

#select-billing .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px;
}

.product-info .config-product {
  padding-left: 20px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.before-send {
  position: absolute;
  top: 22%;
  left: 46%;
  z-index: 100;
}

.tips-email {
  margin: 10px 20px 10px;
  border: 1px solid gray;
  padding: 20px 21px 30px;
  background: #f7f7f7;
}

.description {
  margin: 0 12px;
}

.check-invoice {
  margin-top: 10px;
  margin-bottom: 20px;
}

.back-to-home {
  margin-bottom: 20px;
}

.credit {
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  color: black;
}

.invoice {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
  padding: 20px !important;
  border-radius: 6px;
}

h4.page-header {
  font-size: 20px;
  color: black;
  padding-top: 9px;
  padding-bottom: 20px;
}

#invoice-page {
  margin: 15px auto;
  padding: 0;
  max-width: 860px;
  background-color: #fff;
}

.invoice-number {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

.invoice-status .unpaid {
  margin: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #c00;
  font-family: "Open Sans", Verdana, Tahoma, serif;
}

.invoice-status .paid {
  margin: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #779500;
  font-family: "Open Sans", Verdana, Tahoma, serif;
}

.invoice-status .dua_date {
  font-size: 1em;
  color: black;
  margin-top: 3px;
}

.invoice-status .date {
  font-size: 1em;
  color: black;
  margin-top: 3px;
}

.invoice-info {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 32px;
}

.invoice-info-header {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.invoice-paid {
  margin-top: 40px;
  color: black;
}

.btn-default {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #444;
}

.row.no-print {
  margin-top: 20px;
}

#float-menu {
  opacity: 0;
  transition: 0.6s;
  position: fixed;
  cursor: pointer;
  right: 0;
  width: auto;
  top: 50%;
}

#float-menu button {
  font-size: 15px;
  width: 95px;
  margin-bottom: 2px;
  padding: 5px 6px;
}

.button-list {
  display: inline-flex;
}

.button-list div {
  padding-right: 10px;
}

.info-user {
  color: black;
  line-height: 31px;
  padding-left: 15px;
  font-weight: 400;
}

.button-info {
  margin-bottom: 10px;
  margin-top: 20px;
}

.payment-detail {
  margin-top: 14px;
}

.box-body .payment-detail-body {
  margin-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

.payment-detail-title {
  padding-left: 5%;
}

.error-momo {
  padding: 20px 15px;
}

.error-momo h4 {
  margin-top: 5px;
  color: #d00000;
  font-weight: 400;
  margin-bottom: 15px;
}

.list-error {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.list-error thead {
  height: 40px;
  color: black;
}

.list-error tbody {
  line-height: 30px;
  font-size: 17px;
  color: black;
}

.form-info {
  padding: 10px 12px;
  position: relative;
}

.form-info h4 {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 1px;
}

.form-info h4::before {
  position: absolute;
  content: "";
  width: 13.5%;
  bottom: 0;
  height: 1px;
  background: black;
  left: 2px;
}

.luu-y {
  padding-top: 10px;
  color: red;
}

.selected-pay-in {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.company-name {
  color: #39F;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.info-company {
  color: black;
  line-height: 30px;
}

.info-bank {
  margin-bottom: 10px;
}

.card-primary.card-outline {
  border-top: 3px solid #007bff;
}

.info-header.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #696969;
  font-weight: 600;
}

.all-inverted {
  overflow: auto;
}

.timeline > li {
  position: relative;
  margin-bottom: 15px;
}

.timeline {
  list-style: none;
}

.timeline > li::before,
.timeline > li::after {
  content: " ";
  display: table;
}

.timeline-panel .timeline-title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.content-noti {
  margin: 0 3%;
}

.timeline::before {
  display: none;
}

#home-service .home-service-body {
  background-color: #f5f5f5;
}

#home-service .home-service-body .timeline-inverted {
  border: 1px solid #d7e5f0;
  border-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

.timeline-panel .timeline-title span {
  font-size: 14px;
  color: #006687;
}

#home-service .col-md-12 {
  padding: 0;
}

#home-service .home-service-body .timeline-inverted:hover {
  background: white;
}

.scroll-info .col-md-12 {
  padding: 0;
}

.scroll-info .home-service-body .timeline-inverted:hover {
  background: white;
}

.scroll-info .home-service-body .timeline-inverted {
  border: 1px solid #d7e5f0;
  border-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

.scroll-info .home-service-body {
  background-color: #f5f5f5;
}

#content-confirm-order .label-dropship {
  padding-left: 0 !important;
  padding-right: 10px;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

span.num {
  width: 20px;
  height: 20px;
  padding: 0 10px;
  background: #045ab7;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

span.child-num {
  background: #7b7b7b;
  position: absolute;
  margin-left: 6px;
  width: 17px;
  text-align: center;
  color: white;
  border-radius: 50%;
  font-size: 11px;
}

[class*=sidebar-light-] .nav-treeview > .nav-item > .nav-link.active {
  background-color: rgba(0, 123, 255, 0.2) !important;
}

/*Select 2*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit !important;
  -webkit-transform: initial;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31px !important;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

.alert-pavietnam h5 {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

.template_option_website {
  border: solid grey 1px;
  border-radius: 8px;
  padding: 20px;
  max-height: 226px;
  overflow: overlay;
  margin-bottom: 30px;
}

img.join-telegram {
  position: absolute;
  bottom: 10px;
  right: 20px;
  vertical-align: middle;
  max-width: 150px;
  height: auto;
}

.card.facebook-group {
  background-image: url(/images/bg-facebook-group-2.png);
  background-size: contain, cover;
  background-repeat: no-repeat;
}

.card .facebook-group-text {
  background: #4099ff;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.service_info {
  padding: 5px 0 5px 0;
  border-bottom: dashed #d2d5d7 1px;
  font-size: 14px;
}

.home-mobile-repon a.btn {
  padding: 0.1em 0.3em;
}

.label-register-service,
.collapse-menu {
  top: 9px;
  position: absolute;
  transition: opacity 0.3s linear;
  font-size: 16px;
  cursor: pointer;
}

.label-register-service {
  right: 30px;
}

.collapse-menu {
  right: 10px;
}

.row-register-service {
  position: fixed;
  background: white;
  z-index: 99999;
  padding: 10px 0px;
  border-radius: 8px;
  margin-left: 10px !important;
  max-width: 350px;
  line-height: 1.2em;
  top: 130px;
}

.row-register-service .col {
  padding: 8px 8px 0px 8px;
}

.row-register-service li {
  list-style: none;
  width: 80px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.row-register-service a {
  font-size: 1.2em;
  color: #4e73df;
}

.icon-product {
  margin: 7px 0 3px 0;
  border-right: solid 1px #d8d8d9;
  color: #30447c;
}

.link-product {
  font-size: 11px;
  line-height: 1.1em;
  overflow: hidden;
}

.title-service {
  font-size: 13px;
  font-weight: bold;
  border-bottom: dashed #bfbcbc 1px;
}

.close-row-register-service {
  position: absolute;
  right: 0px;
  top: -4px;
  line-height: 0.8;
  padding: 1px 3px;
  border-radius: 99px;
  color: white;
  cursor: pointer;
}

.card-deck {
  margin: 0 !important;
}

.card-deck .card {
  margin: 0 !important;
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
  width: 33px;
  padding: 5px;
  height: 33px;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #fff;
  width: 33px;
  padding: 5px;
  height: 33px;
}

@-webkit-keyframes blinker {
  30% {
    opacity: 0;
  }
}

@keyframes blinker {
  30% {
    opacity: 0;
  }
}

.shadow {
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1) !important;
}

hr {
  margin-top: 0.5rem !important;
}

@media screen and (max-width: 767px) {
  #float-menu button {
    width: 40px;
    padding: 5px 10px;
    font-size: 15px;
  }

  span.service-name {
    display: none;
  }
}

