<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Console {{ vm_name }}</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vps/css/wmks-all.css' %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'vps/js/wmks.min.js' %}" type="text/javascript"></script>
<div id="buttonBar">
    <div class="buttonC">
        <button id="cad">
            Send Ctrl+Alt+Delete
        </button>
    </div>
</div>
<div id="wmksContainer" style="position:absolute;width:100%;height:100%"></div>
<script>
    var wmks = WMKS.createWMKS("wmksContainer", {}).register(WMKS.CONST.Events.CONNECTION_STATE_CHANGE, function (event, data) {
        if (data.state == WMKS.CONST.ConnectionState.CONNECTED) {
            console.log("connection state change : connected");
        }
    });
    var connect_string = 'wss://' + '{{ vm_host }}' + ':443/ticket/' + '{{ vm_ticket }}';
    wmks.connect(connect_string);
    $('#cad').on("click", function () {
        wmks.sendCAD();
    });
</script>
</body>
</html>