<template>
    <div>
        <div class="tile">
			<div class="tile-body">
				<div class="row">
                    <!-- button tạo -->
					<div class="col-md-4">
                        <button @click="creatGroupEmail" class="btn btn-primary">Tạo group email</button>
                        <button @click="creatEmail" class="btn btn-success">Tạo email</button>
                    </div>
					<div class="col-md-4"></div>
                    <!-- form search -->
                    <div class="col-md-4">
						<div class="row">
							<div class="form-group col-md-12">
								<div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- List group email va email -->
        <div class="box box-primary">
            <div class="box-body table-responsive">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="list-group-email row">
                        <div class="col col-md-12 col-sm-12 group-email-row" v-for="(groupEmail, index) in listGroupEmails" :key="groupEmail.id">
                            <div class="email-group card">
                                <div class="row card-header">
                                    <div class="col-md-8">
                                        <h4>{{groupEmail.name}}</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <button @click="editGroupEmail(groupEmail, index)" class="btn btn-warning button-edit-group">
                                            <i class="fas fa-edit text-white"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <th width="10%">#</th>
                                            <th width="60%">Name</th>
                                            <th>Hành động</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(email,indexEmail) in groupEmail.emails" :key="email.id">
                                                <td><a :href="'/admin/emails/editEmail?id=' + email.id">{{ email.id }}</a></td>
                                                <td><a :href="'/admin/emails/editEmail?id=' + email.id">{{ email.name }}</a></td>
                                                <td class="button-action-table">
                                                    
                                                    <a :href="'/admin/emails/editEmail?id=' + email.id">
                                                        <button class="btn btn-warning">
                                                            <i class="fas fa-edit text-white"></i>
                                                        </button>
                                                    </a>
                                                    <button class="btn btn-danger" @click="deleteEmailbtn(email, indexEmail ,index)"><i class="fas fa-trash-alt"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="modal-template" v-if="showModal">
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container" :class="submitClass">
                                <div class="modal-header">
                                    <slot name="header">
                                        <h4 slot="header">
                                            {{ titleModal }}
                                        </h4>
                                    </slot>
                                </div>

                                <div class="modal-body">
                                    <slot name="body">
                                        <div class="success" v-if="isRequestResponse">
                                            {{ requestResponse }}
                                            <hr>
                                        </div>
                                        <div class="error" v-if="isRequestError">
                                            {{ requestError }}
                                            <hr>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">{{ titleName }}</label>
                                            <input type="text" id="name" v-model="name" class="form-control" :placeholder="placeholder">
                                        </div>
                                        <div class="form-group" v-if="isEmail">
                                            <label for="group-email">Group Email</label>
                                            <select v-model="valueName" id="group-email" class="form-control">
                                                <option :value="null" disabled>--- Chọn group email ---</option>
                                                <option  v-for="(group, keyGroup) in listGroupEmails" :key="group.id" :value="keyGroup">{{group.name}}</option>
                                            </select>
                                        </div>
                                    </slot>
                                </div>

                                <div class="modal-footer">
                                    <slot name="footer">
                                        <div v-if="isCreateGroupEmail">
                                            <button class="btn btn-info" @click="buttonSubmit">{{ titleButtonSubmit }}</button>
                                            <button class="btn btn-default" @click="showModal = false">Hủy</button>
                                        </div>
                                        <div v-if="isEditGroupEmail">
                                            <button class="btn btn-info" @click="buttonEditGroupEmail">{{ titleButtonSubmit }}</button>
                                            <button class="btn btn-default" @click="showModal = false">Hủy</button>
                                        </div>
                                        <div v-if="isEmail">
                                            <button class="btn btn-info" @click="buttonCreateEmail">{{ titleButtonSubmit }}</button>
                                            <button class="btn btn-default" @click="showModal = false">Hủy</button>
                                        </div>
                                    </slot>
                                </div>
                                <div class="text-center" id="vong-xoay" v-if="vongXoay">
                                    <div class="vong-xoay"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <div id="modal-template" v-if="deleteModal">
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container" :class="submitClass">
                                <div class="modal-header">
                                    <slot name="header">
                                        <h4 slot="header">
                                            {{ titleModal }}
                                        </h4>
                                    </slot>
                                </div>

                                <div class="modal-body">
                                    <slot name="body">
                                        <div class="success" v-if="isRequestResponse">
                                            {{ requestResponse }}
                                            <hr>
                                        </div>
                                        <div class="error" v-if="isRequestError">
                                            {{ requestError }}
                                            <hr>
                                        </div>
                                        <div class="deleteEmail" v-html="deleteEmail">
                                        </div>
                                    </slot>
                                </div>

                                <div class="modal-footer">
                                    <slot name="footer">
                                        <div>
                                            <button class="btn btn-info" @click="buttonSubmitDelete">{{ titleButtonSubmit }}</button>
                                            <button class="btn btn-default" @click="deleteModal = false">Hủy</button>
                                        </div>
                                    </slot>
                                </div>
                                <div class="text-center" id="vong-xoay" v-if="vongXoay">
                                    <div class="vong-xoay"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            titleModal: '',
            titleButtonSubmit: '',
            titleName: '',
            name: '',
            groupEmail: '',
            placeholder: '',
            valueName: '',
            submitClass: '',
            requestResponse: '',
            requestError: '',
            deleteEmail: '',
            isEmail: false,
            showModal: false,
            deleteModal: false,
            isRequestResponse: false,
            isRequestError: false,
            vongXoay: false,
            groupEmails: [],
            listGroupEmails: [],
            isCreateGroupEmail: true,
            isEditGroupEmail: false,
            EditGroup: {
                id: 0,
                index: 0,
            },
            valueDelete: {
                email: [],
                indexEmail: 0,
                index: 0,
            },
        }
    },
    created() {
        this.getListGroupEmail()
    }
    ,
    methods: {
        creatGroupEmail() {
            // Chinh sua modal
            this.isEditGroupEmail = false;
            this.isCreateGroupEmail = true;
            this.isEmail = false;
            this.isRequestError = false;
            this.isRequestResponse = false;
            this.name = '';
            this.showModal = true;
            this.titleName = 'Tiêu đề group email';
            // text tao group email
            this.titleModal = "Tạo Group Email";
            this.placeholder = "Tiêu đề Group Email";
            this.titleButtonSubmit = "Tạo Group";
        },
        editGroupEmail(groupEmail, index) {
            // Chinh sua modal
            this.EditGroup.id = groupEmail.id;
            this.EditGroup.index = index;
            this.name = groupEmail.name;
            this.isEmail = false;
            this.isRequestError = false;
            this.isRequestResponse = false;
            groupEmail.isEdit = true;
            // text sua group email
            this.titleName = 'Tiêu đề group email';
            this.showModal = true;
            this.titleModal = "Sửa Group Email";
            this.titleButtonSubmit = "Sửa Group";
            this.isEditGroupEmail = true;
            this.isCreateGroupEmail = false;
        },
        creatEmail() {
            // Chinh sua modal
            this.isEditGroupEmail = false;
            this.isRequestError = false;
            this.isRequestResponse = false;
            this.isCreateGroupEmail = false;
            this.isEmail = true;
            this.name = '';
            this.showModal = true;
            // text sua group email
            this.titleName = 'Tiêu đề Email';
            this.titleModal = "Tạo Email";
            this.placeholder = "Tiêu đề Email";
            this.titleButtonSubmit = "Tạo Email";
        },
        deleteEmailbtn(email, indexEmail ,index) {
            // Chinh sua modal
            this.isEditGroupEmail = false;
            this.isRequestError = false;
            this.isRequestResponse = false;
            this.isCreateGroupEmail = false;
            this.isEmail = true;
            this.name = '';
            this.deleteModal = true;
            // text sua group email
            this.deleteEmail = "Bạn có muốn xóa email template <b class='maudo'>" + email.name + "</b> này không?"; 
            this.titleModal = "Xóa email template";
            this.titleButtonSubmit = "Xóa Email";
            this.valueDelete.email = email;
            this.valueDelete.indexEmail = indexEmail;
            this.valueDelete.index = index;
        },
        // Tạo group email
        buttonSubmit() {
            this.submitClass = 'opacityClass';
            this.vongXoay = true;
            axios.post('/admin/email/CreateGroupEmail', { name: this.name })
            .then(response => {
                this.name = "";
                this.isRequestResponse = true;
                this.vongXoay = false;
                this.submitClass = '';
                this.requestResponse = "Tạo group email template thành công";
                this.listGroupEmails.push({ ...response.data.groupEmail , isEdit: false })
            })
            .catch(error => {
                this.vongXoay = false;
                this.submitClass = '';
                this.isRequestError = true;
                console.log(error);
                this.requestError  = 'Tạo group email thất bại';
                
            })
        },
        // List danh sách group email
        getListGroupEmail() {
            axios.get('/admin/email/listGroupEmail')
            .then(response => {
                this.listGroupEmails = response.data.groupEmail;
                this.listGroupEmails.forEach(item => {
                    Vue.set(item, 'isEdit', false);
                });
            })
            .catch(erorr => {
                this.requestError  = 'List danh sách group email thất bại';
                console.log(erorr);
            })
        },
        // Sửa group email
        buttonEditGroupEmail() {
            this.submitClass = 'opacityClass';
            this.vongXoay = true;
            axios.post('/admin/email/editGroupEmail', { name: this.name, id: this.EditGroup.id })
            .then(response => {
                this.isRequestResponse = true;
                this.vongXoay = false;
                this.submitClass = '';
                this.requestResponse = "Sửa group email template thành công";
                // Thêm thuộc tính vừa chỉnh sửa
                var index = this.EditGroup.index;
                console.log(index);
                this.listGroupEmails[index].name = this.name;
                this.listGroupEmails[index].isEmail = false;
            })
            .catch(erorr => {
                this.vongXoay = false;
                this.submitClass = '';
                this.isRequestError = true;
                this.requestError  = 'Sửa group email thất bại';
                console.log(erorr);
            })
        },
        buttonCreateEmail() {
            this.submitClass = 'opacityClass';
            this.vongXoay = true;
            var index = this.valueName;
            // console.log(this.listGroupEmails[index].id);
            axios.post('/admin/email/createEmailTemplate', { name: this.name, idGroupEmail: this.listGroupEmails[index].id })
            .then(response => {
                this.name = "";
                this.isRequestResponse = true;
                this.vongXoay = false;
                this.submitClass = '';
                this.requestResponse = "Tạo email template thành công";
                console.log(response.data.email);
                this.listGroupEmails[index].emails.push({ ...response.data.email })
            })
            .catch(erorr => {
                this.vongXoay = false;
                this.submitClass = '';
                this.isRequestError = true;
                this.requestError  = 'Tạo email thất bại';
                console.log(erorr);
            })
        },
        buttonSubmitDelete() {
            this.submitClass = 'opacityClass';
            this.vongXoay = true;
            var index = this.valueDelete.index;
            var email = this.valueDelete.email;
            var indexEmail = this.valueDelete.indexEmail;
            console.log(this.valueDelete.email.id);
            // Thực hiện exios để xóa email
            // axios.get('/admin/emails/deleteEmail', { idEmail: this.valueDelete.email.id })
            axios.get('/admin/emails/deleteEmail/' + this.valueDelete.email.id)
            .then(response => {
                this.isRequestResponse = true;
                this.vongXoay = false;
                this.submitClass = '';
                this.requestResponse = "Xóa email template thành công";
                console.log(response.data.delete);
                this.listGroupEmails[index].emails.splice(indexEmail, 1);
            })
            .catch(erorr => {
                this.vongXoay = false;
                this.submitClass = '';
                this.isRequestError = true;
                this.requestError  = 'Xóa email thất bại';
                console.log(erorr);
            })
        },
    }
};
</script>

<style lang="scss" scoped>
.opacityClass {
    opacity: 0.7;
}
.success {
    background: #42b983;
    color: white;
    padding-top: 15px;
    padding-left: 12px;
}
.error {
   span {
       color: red;
   }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 40%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}
.modal-header {
    padding: 0;
}
.modal-header h4 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#vong-xoay {
    position: absolute;
    width: 86%;
    top: 39%;
}
.list-group-email {
    width: 100%;
    margin-top: 15px;
}
.button-edit-group {
    float: right;
}
.group-email-row {
    padding-right: 10px;
}
</style>
